.main-body {
  background: #ccd1d1;
}

.news {
  margin: 1em;
  transition: transform 0.7s ease;
}

.news:hover {
  box-shadow: 0em 0em 0.5em #003943;
  transform: scale(1.1);
}

.header-comment {
  margin: 1.5em 0 0 0;
}

.fa-circle {
  font-size: 0.3em;
  position: relative;
  bottom: 8px;
}

#alarm {
  border: none;
}
